html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* nav bar *******************************************/
#name {
  float: left;
  width: 50%;
  padding: 5px 0 0 5px;
}
#name a {
  display: inline-block;
  float: left;
  color: black;
  text-decoration: none;
}
#name p {
  display: inline-block;
  float: left;
  font-size: small;
  padding-top: 4px; /* to align it with the text it's pointing to */
  margin: 0 0 0 7px;
}
/* .nav {
  float: left;
  width: 50%;
  text-align: right;
} */
/* title *******************************************/
.header {
  text-align: center;
  padding: 8% 8% 6% 8%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.stupid-inner {
  /* position: absolute;
  top: 10%;
  bottom: 10%; */
}
#title {
  font-size: xx-large;
}
.notes p {
  margin: 0;
  font-size: normal;
}
.inline {
  display: inline;
}
/* form *******************************************/
form {
  width: 100%;
  height: auto;
  text-align: center;
}
.inputs {
  width: 16%;
  text-align: left;
  margin: 0 auto;
}
input#phone {
  border: none;
  border-bottom: 1px solid black;
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  margin-bottom: 5px;
  width: 100px;
  /* font-size: small; */
}
input[type=submit] {
  border: none;
  border-radius: 10px;
  background-color: #f5f5dc;
  font-family: "Comic Sans MS", sans-serif;
}
input[type=submit]:hover {
  cursor: pointer;
}
input[type=submit]:active {
  background-color: #dadaed;
}
.submit {
  margin-top: 8px;
}
.submit p {
  display: inline;
  font-size: small;
}
.submit #spacing-middle {
  display: inline-block;
  width: 7px;
}
.submit #spacing-left, .submit #spacing-right {
  display: inline-block;
  width: 0.5px;
}
.submit #spacing-right-right {
  display: inline-block;
  width: 20px;
}
/* logo *******************************************/
.logo {
  margin-top: 100px;
  width: 100%;
}
.logo img {
  display: block;
  margin: 0 auto;
  height: 12%;
  width: auto;
}
/* footer *******************************************/
footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 10px;
  right: 15px; /* had to specify 0px for it not to run over the page for some reason */
}
